extend ./layout.jade
block css
  link(rel='stylesheet', href='/css/list.css')

block bodycontent
  .mainbody
    include ./top.jade
    .main
      .catbox-left
        #head-left 物资分类
        ul
          li
            a(href='#') 钢材
          li
            a(href='#') 辅材
          li
            a(href='#') 办公
          li
            a(href='#') 设备
          li
            a(href='#') 劳务
      .listbox
        .box-head
          img.box-head-img(src='../images/head_img.png', alt='')
          span.box-head-title 通知公告
          .line
            img.lineimage(src='../images/headline.png', alt='')
        .box-content
          ul
            - for(var x = 0;x<count;x++)
              li
                img(src='./images/point.png', alt='')
                span #{list[x].ksrq}
                a(href='') #{list[x].xjmc}...
          .page
            a(href='#') 上一页  ｜  第 1 页  ｜  下一页
    include ./foot.jade
