.top
  .topcontent
    ul
      li
        a(href='', title='')  供应商注册
      li
        a(href='', title='')  取回密码
      li
        a(href='', title='')  常见问题
      li
        a(href='', title='')  联系我们
// top end
// head start
.head
  .headleft
    .iconleft
      img.logoimg(src='./images/logo.png', alt='logo of daji group')

    .logoright
      .sysname 大吉集团供应商门户系统

      .englishname Daji Group Supply Chain Relationship Management System
// head end
// navigation start
.nav
  .nav_menu
    ul
      li
        a(href='/') 首页
      li
        a(href='/list_xj') 物资询价
      li
        a(href='/list_zb') 物资招标
      li
        a(href='') 业务协同
