// bower:scss
// endbower
@import "_head.scss";

.box {
    margin-top: 8px;
    margin-bottom:2px;
    padding-bottom: 8px;  //不知道如何处置这个更多的位置
    height: 180px;
    .box-head {
        float: left;
        .box-head-img {
          float: left;
          width: 11px;
          height: 11px;
          margin:5px;
        }
        .box-head-title {
          float: left;
          @include font($fontfamily,$_sizefont3,$_maincolor);
          line-height: 22px;
        }
        .lineimage {
          float: left;
          width:  100%;
          height: 1px;
        }
    }
    .box-content {
      float: left;
      width: 100%;
      ul {
        float: left;
        width: 100%;
        padding-left: 0px;
        li {
            padding-top: 2px;
            // float: left; 为什么 li设置了float 里面的span就不行了；
            line-height: 20px;
            list-style-type: none;
            border-bottom:1px dotted #ccc;
            img {
              float: left;
              width: 3px;
              height: 3px;
              margin-left: 9px;
              padding-top:8px;
              padding-right: 12px;
            }
            a {
              @include font($fonthref,$_sizefont4,$_hrefcolor);
              text-decoration:none;
            }
            span {
              float: right;
              @include font($fonthref,$_sizefont4,$_hrefcolor);
            }

        }
      }
      .more {
        clear: both;
        float: right;
        margin-top: 10px;
        img {
          width: 7px;
          height: 7px;
          margin-right: 9px;
          padding-bottom: 2px;
        }
        a {
          @include font($fontfamily,$_sizefont4,$_maincolor);
          text-decoration: none;
        }
      }
    }
}

.mainbody{
    margin: 0px auto;
    width: $mainwidth;
    .main {
      float: left;
      width: $mainwidth;
      margin-top:10px;
      margin-bottom: 10px;
      .box-left {
        @extend .box;
        width: 455px;
        float: left;

      }
      .box-right {
        @extend .box;
        width: 455px;
        float: right;
        display: block;
        }
    }
    @import "_footer.scss";
}


// tabs
$width-tab-box : 455px;
.mainbox {
  width: $width-tab-box;
}
.tab-nav {
  width: $width-tab-box;
  ul{
    list-style: none;
    width: 100%;
    float: left;
    li {
      float: left;
      margin-left: 28px;
    }
    .tab-nav-title {
      @include font($fontfamily,$_sizefont3,$_maincolor);
      cursor:pointer;
    }
    .tab-nav-title-unchecked {
      @include font($fontfamily,$_sizefont3,$_hrefcolor);
      cursor:pointer;
    }
  }
  .lineimg {
    float: left;
    width:  100%;
    height: 1px;
  }

}
.box-tab-content {
  float: left;
  width: $width-tab-box;
  ul {
    float: left;
    width: 100%;
    padding-left: 0px;
    li {
        padding-top: 2px;
        line-height: 20px;
        list-style-type: none;
        border-bottom:1px dotted #ccc;
        img {
          float: left;
          width: 3px;
          height: 3px;
          margin-left: 9px;
          padding-top:8px;
          padding-right: 12px;
        }
        a {
          @include font($fonthref,$_sizefont4,$_hrefcolor);
          text-decoration:none;
        }
        span {
          float: right;
          @include font($fonthref,$_sizefont4,$_hrefcolor);
        }

    }
  }
  .more {
    clear: both;
    float: right;
    margin-top: 10px;
    img {
      width: 7px;
      height: 7px;
      margin-right: 9px;
      padding-bottom: 2px;
    }
    a {
      @include font($fontfamily,$_sizefont4,$_maincolor);
      text-decoration: none;
    }
  }
}

.main {
  margin-top: 2px;
  padding-top: 2px;
  .catbox-left {
    float: left;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 40px;
    width: $mainwidth*1/6;
    ul {
      float: left;
      width: 100%;
      padding-left: 0px;
      li {
          padding-top: 2px;
          line-height: 20px;
          list-style-type: none;
          img {
            float: left;
            width: 3px;
            height: 3px;
            margin-left: 9px;
            padding-top:8px;
            padding-right: 12px;
          }
          a {
            @include font($fonthref,$_sizefont4,$_maincolor);
            text-decoration:none;
          }
          span {
            float: right;
            @include font($fonthref,$_sizefont4,$_hrefcolor);
          }

      }
    }
  }
  .listbox {
    @extend .box;
    width: $mainwidth*3/4;
    margin-right: 20px;
    float: right;
  }
  .page {

    width: 100%;
    margin-top: 200px;
    text-align: center;
    a {
      @include font($fontfamily,$_sizefont4,$_maincolor);
      text-decoration: none;
    }
  }

  @import "_footer.scss";
}
